
.H1 {
    position: absolute;
    width: 896px;
    height: 80px;
    left: 273px;
    top: 166px;

    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 80px;
}

.liText {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: Comfortaa, serif;
}

.liStyle {
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: fit-content;
    border: 2px solid #7a7a7a;
    box-sizing: border-box;
    border-radius: 30px;
}

.playRect {
    margin-left: auto;
    margin-right: auto;
    width: 701px;
    height: 85px;
    border: 2px solid #7a7a7a;
    box-sizing: border-box;
    border-radius: 50px;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
}

.skinRect {
    align-items: center;
    width: 308px;
    height: 486px;
    left: 63px;
    top: 354px;
    background: inherit;
    border: 2px solid #7a7a7a;
    box-sizing: border-box;
    border-radius: 44px;
}

.playerProfileRect {
    align-items: center;
    width: 800px;
    height: 486px;
    left: 63px;
    top: 354px;
    background: inherit;
    border: 2px solid #7a7a7a;
    box-sizing: border-box;
    border-radius: 44px;
    margin-left: 50px;
}

.playerProfileText {
    margin-top: 30px;
    margin-left: 40px;
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.playerProfileInput {
    margin-left: 10px;
    height: 20px;
    border: 2px solid #7a7a7a;
    color: inherit;
    border-radius: 50px;
    font-family: Comfortaa, serif;
    background-color: inherit;
}

.zoom {
    transition: 1s;
}

.zoom:hover {
    transform: scale(1.2);
}

.h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 80px;
}
.h1frame2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    text-align: center;
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 80px;
}

.h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    max-width: 700px;
}

.skinText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    max-width: 700px;
}

.startButton {
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    margin-left: 30px;
    text-decoration: none;
    cursor: pointer;
}


.score {
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-decoration: none;
    margin-top: 70px;
}
.serverButtons {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 20px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    width: 400px;
    height: 200px;
}

.scoreNum {
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    font-size: 40px;
}


.serverText {
    font-family: Comfortaa, serif;
    font-size: 28px;
    text-align: center;
    border: 2px solid #7a7a7a;
}




